@import './quasar.variables.scss';

* {
  font-family: 'Poppins', sans-serif;
}

// Backgrounds

body {
  background-color: $accent;
}

.q-card {
  background-color: transparent;
}

.q-page {
  background-color: transparent !important;
}

.q-tab-panels {
  background-color: transparent !important;
}

.q-dialog .q-card {
  background-color: $accent !important;
}

.q-table__container {
  background-color: transparent !important;
}

// Borders

.q-card--bordered {
  border-color: $border-color;
}

.q-table--bordered {
  border-color: $border-color;
}

.q-input--bordered {
  border-color: $border-color;
}

.q-field__label {
  color: $primary;
}

.q-field__control::before {
  border-bottom: 1px solid $primary !important;
}

// Table rows

tbody tr:nth-of-type(odd) {
  background-color: $dark-table-row;
}

.dark-table-row {
  background-color: $dark-table-row;
}

.light-table-row {
  background-color: transparent;
}

// Info components

.channel-name {
  font-weight: 600;
}

.post-info {
  display: flex;
  flex-direction: column;
  color: #000;
  font-size: 12px;
  width: 140px;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  margin-bottom: 0.5em;
}

.tofrom {
  font-size: 10px !important;
  line-height: 1em;
}

// Buttons

.rounded-button {
  border-radius: 6px;
}

.app-toolbar {
  border-bottom: 2px solid #282828;
  padding-top: 12px;
  padding-bottom: 12px;
}

.app-toolbar-mobile {
  border-bottom: 2px solid #282828;
}

.dataset-toolbar {
  border-bottom: 2px solid #282828;
}
