@import './quasar.variables.scss';

* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: $accent;
}

.q-card {
  background-color: transparent;
}

.q-page {
  background-color: transparent !important;
}

.q-tab-panels {
  background-color: transparent !important;
}

.q-dialog .q-card {
  background-color: $accent !important;
}

.q-table__container {
  background-color: transparent !important;
}

.q-card--bordered {
  border-color: $border-color;
}

.q-table--bordered {
  border-color: $border-color;
}

.q-input--bordered {
  border-color: $border-color;
}
