* {
  font-family: 'Poppins', sans-serif;
}

:root {
  --q-color-primary: #d2d2d2;
  --q-card-border-color: rgba(0, 0, 0, 0.36);
}

body {
  background-color: var(--q-color-primary);
}

.q-card {
  background-color: transparent;
}

.q-page {
  background-color: transparent !important;
}

.q-tab-panels {
  background-color: transparent !important;
}

.q-dialog .q-card {
  background-color: var(--q-color-primary) !important;
}

.q-table__container {
  background-color: transparent !important;
}

.q-card--bordered {
  border-color: var(--q-card-border-color);
}

.q-table--bordered {
  border-color: var(--q-card-border-color);
}

.q-input--bordered {
  border-color: var(--q-card-border-color);
}
