$primary: #282828;
$secondary: #41a1b0;
$accent: #d2d2d2;
$accent-dark: #00646f;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #41a1b0;
$negative: #ff5050;
$info: #00646f;
$warning: #f2c037;

$white-semiopaque: rgba(255, 255, 255, 0.8);
$dark-table-row: #b2b2b2;
$border-color: rgba(0, 0, 0, 0.36);